header{
    padding: 25px;
    background: linear-gradient(to right, red 25%, magenta 60%);
    color: white;
    text-align: center;
}

header h1{color: black; text-align: center;}

div.menu{
    background: linear-gradient(to right, black 25%, grey 60%);
    padding: 15px;
    text-align: center;
}
.menu button{
    color: black;
    background: linear-gradient(to right, orange, orangered);
    border: solid 0px;
    border-radius: 230px;
}
.menu button:hover{
    color: white;
    background: linear-gradient(to left, orange, orangered);
    transform: scale(1.225);
}
